<app-navbar></app-navbar>
<div class="container cf">
  <div class="text-center pt-5">
    <div class="col s12">
      <div class="card">
        <h4 class="card-title right mt-3">Empresas</h4>
        <div class="table-responsive-sm mt-4 mb-4">
          <table class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th scope="col">#</th>
                <td>Nome</td>
                <td>Cnpj</td>
                <td>Categoria</td>
                <td>Editar</td>
                <td>Excluir</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of empresas">
                <td>{{getPos()}}</td>
                <td>{{e.nome}}</td>
                <td>{{e.cnpj}}</td>
                <td>{{categoriaName(e.idcategoria)}}</td>
                <td><a routerLink="/empresa/{{e.id}}" title="Editar"><i class="fa fa-edit teal"></i></a></td>
                <td><a (click)="delete(e)" title="Excluir"><i class="fa fa-trash teal"></i></a></td>
              </tr>
              <tr *ngIf="total < 1">
                  <td colspan="6">Nenhum registro encontrado</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>