<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light teal scrolling-navbar">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand waves-effect" routerLink="/home">
      <strong class="text-light bold">Cashback</strong>
    </a>
    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect text-light" routerLink="/home" >Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect text-light" userRole="ROLE_ADMIN" routerLink="/empresa">Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect text-light" userRole="ROLE_EMPRESA" routerLink="/consumidor">Consumidor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect text-light" userRole="ROLE_EMPRESA" routerLink="/fiscal">Cupom Fiscal</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect text-light" href="#" title="Account" routerLink="/account">
                <i class="fa fa-user"></i> Minha conta
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-effect text-dark" href="#" title="Loggout" (click)="loggout()">
                <i class="fa fa-sign-out"></i> Sair
              </a>
          </li>
      </ul>
    </div>
  </div>
</nav>