body, html { height: 100%; }
.bg { background-image: url("../../assets/images/bg.jpeg"); height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    margin: 0 auto;
}
.ptl { padding-top: 10%; }