<div class="container-fluid bg">
    <div class="row">
        <div class="center ptl">
            <form #form="ngForm" class="form card text-center border border-light p-5" (submit)="entrar()" >                  
                <p class="h4 mb-4">Sign in</p>    
                <p-growl class="text-muted" [(value)]="msgs"></p-growl>
                <!-- Login -->
                <input type="text" [(ngModel)]="le.login" name="login" id="login" class="form-control mb-4" placeholder="Username">    
                <!-- Password -->
                <input type="password" [(ngModel)]="le.senha" name="senha" id="senha" class="form-control mb-4" placeholder="Password">                
                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit"><i class="fa fa-sign-in"></i> Entrar</button>            
            </form>
        </div>
    </div>
</div>