<app-navbar></app-navbar>
<div class="container cf">
  <div class="ptc">
    <div class="card mt-5">
      <h5 class="card-header teal text-light text-center py-4">
        <strong>{{title}}</strong>
      </h5>
      <div class="card-body px-lg-5 pt-0">
        <form class="mt-4 p-2" style="color: #757575;" [formGroup]="formdata" (ngSubmit) = "save(formdata)" async>
          <div class="form-group">
            <div *ngIf="formdata.get('nome').invalid && (formdata.get('nome').dirty || formdata.get('nome').touched)" class="alert alert-danger">
                <div *ngIf="meuForm.get('nome').errors.required">Nome é obrigatório</div>
                <div *ngIf="meuForm.get('nome').errors.minlength">Informe no mínimo 4 caracteres</div>
            </div>
            <label class="label" for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="e.nome" formControlName="nome" required />
            <label class="label mt-1" for="cnpj">Cnpj</label>
            <input type="text" id="cnpj" name="cnpj" class="form-control" [(ngModel)]="e.cnpj" formControlName="cnpj" required pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}" />
            <label class="label mt-1" for="categoria">Categoria</label>
            <select class="mdb-select form-control" id="categoria" name="categoria" formControlName="cate" placeholder="Categoria" [(ngModel)]="e.idcategoria" required>
                <option value="undefined">Selecione</option>
                <option *ngFor="let obj of categorias" [ngValue]="obj.id">{{obj.descricao}}</option>
            </select>
          </div>
          <input type="submit" class="btn btn-info float-right mb-3 forsubmit" value="Salvar" />          
          <!-- <button type="submit" class="btn btn-info float-right mb-3" title="Salvar"><i class="fa fa-save pr-2"></i> Salvar</button> [disabled]="!formdata.valid" -->
        </form>
      </div>
    </div>
  </div>
</div>