<app-navbar></app-navbar>
<div class="container-fluid cf">
    <div class="text-center pt-5">
      <img class="img responsive-img" src="../../assets/images/logo.png" width="18%;" alt="logo" title="logo" />
    </div>
</div>